[submodule "sites/all/libraries/ckeditor"]
	path = sites/all/libraries/ckeditor
	url = https://github.com/ckeditor/ckeditor-releases.git
[submodule "sites/all/libraries/flexslider"]
	path = sites/all/libraries/flexslider
	url = https://github.com/woothemes/FlexSlider
[submodule "sites/all/modules/luggage/luggage_announcements"]
	path = sites/all/modules/luggage/luggage_announcements
url=git@github.com:isubit/luggage_announcements.git
[submodule "sites/all/modules/luggage/luggage_biblio"]
	path = sites/all/modules/luggage/luggage_biblio
url=git@github.com:isubit/luggage_biblio.git
[submodule "sites/all/modules/luggage/luggage_ckeditor"]
	path = sites/all/modules/luggage/luggage_ckeditor
url=git@github.com:isubit/luggage_ckeditor.git
[submodule "sites/all/modules/luggage/luggage_core"]
	path = sites/all/modules/luggage/luggage_core
url=git@github.com:isubit/luggage_core.git
[submodule "sites/all/modules/luggage/luggage_contrib"]
	path = sites/all/modules/luggage/luggage_contrib
url=git@github.com:isubit/luggage_contrib.git
[submodule "sites/all/modules/luggage/luggage_events"]
	path = sites/all/modules/luggage/luggage_events
url=git@github.com:isubit/luggage_events.git
[submodule "sites/all/modules/luggage/luggage_indicator"]
	path = sites/all/modules/luggage/luggage_indicator
url=git@github.com:isubit/luggage_indicator.git
[submodule "sites/all/modules/luggage/luggage_news"]
	path = sites/all/modules/luggage/luggage_news
url=git@github.com:isubit/luggage_news.git
[submodule "sites/all/modules/luggage/luggage_people"]
	path = sites/all/modules/luggage/luggage_people
url=git@github.com:isubit/luggage_people.git
[submodule "sites/all/modules/luggage/luggage_projects"]
	path = sites/all/modules/luggage/luggage_projects
url=git@github.com:isubit/luggage_projects.git
[submodule "sites/all/modules/luggage/luggage_resources"]
	path = sites/all/modules/luggage/luggage_resources
url=git@github.com:isubit/luggage_resources.git
[submodule "sites/all/modules/luggage/luggage_roles"]
	path = sites/all/modules/luggage/luggage_roles
url=git@github.com:isubit/luggage_roles.git
[submodule "sites/all/modules/luggage/luggage_seo"]
	path = sites/all/modules/luggage/luggage_seo
url=git@github.com:isubit/luggage_seo.git
[submodule "sites/all/modules/luggage/luggage_solr"]
	path = sites/all/modules/luggage/luggage_solr
url=git@github.com:isubit/luggage_solr.git
[submodule "sites/all/modules/luggage/luggage_ui"]
	path = sites/all/modules/luggage/luggage_ui
url=git@github.com:isubit/luggage_ui.git
[submodule "sites/all/modules/luggage/luggage_vars"]
	path = sites/all/modules/luggage/luggage_vars
url=git@github.com:isubit/luggage_vars.git
[submodule "sites/all/modules/luggage/luggage_placeholder"]
	path = sites/all/modules/luggage/luggage_placeholder
url=git@github.com:isubit/luggage_placeholder.git
[submodule "sites/all/modules/luggage/luggage_video"]
	path = sites/all/modules/luggage/luggage_video
	url = git@github.com:isubit/luggage_video.git
